#app {
    font-family: "Open Sans Condensed";
    color: #363636;
}

#test {
    color: #008ccf;
    color: #363636
}

.heading {
    color: #008ccf;
}

.navbar-dark {
    background-color: #363636;
}